.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

.container h1, h3, button{
    color: #dd7b22;
}

.container h3{
    font-style: italic;
}

.container > button{
    padding: 10px;
    font-size: 1.2rem;
    border: 1px solid #dd7b22;
    border-radius: 10%;
    cursor: pointer;
}
  